<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background-color: #F2ECBE;font-family: 'Courier New', Courier, monospace;} #forgotPassSubmit{position: relative; top: 20px; left: 190px; border-radius: 5px; background-color: white;} #containerDiv{align-content: center; position: relative; left: 170px;} #email{position: relative; left: 90px; border-radius: 5px;}h1{position: relative; left: 0.01px;} #message{position: relative; left: 40px; top: 20px;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="containerDiv">
    <h1>Forgot Password? No Promblem</h1>
    <form action="" method="post">
        <label id="email" for="email"><strong>Email</strong></label>
        <input type="email" name="email" id="email">
        <br>
        <input id="forgotPassSubmit" type="submit" value="submit">
    </form>
    <title></title>
    <p id="message"><strong>Enter the email you signed up with and we will send you a password reset link</strong></p>
</head>
<body>
   <p> 
    <% title.forEach(e => {%>


    <%= e.dataValues.book_name %>
    
    <% }); %> </p>


</body>
</html>