<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background-color: #F2ECBE;font-family: 'Courier New', Courier, monospace; display: flex; justify-content: center; height: 100vh; margin: 0;} form{text-align: center;} #forgotPassSubmit{position: relative; top: 20px; border-radius: 5px; background-color: white;} #containerDiv{align-content: center;} #email{ border-radius: 5px;} #message{position: relative; top: 20px;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="containerDiv">
    <h1>Forgot Password? No Promblem</h1>
    <form action="" method="post">
        <label id="email" for="email"><strong>Email</strong></label>
        <input type="email" name="email" id="email">
        <br>
        <input id="forgotPassSubmit" type="submit" value="submit">
    </form>
    <title></title>
    <p id="message"><strong>Enter the email you signed up with and we will send you a password reset link</strong></p>
</head>
<body>



</body>
</html>