<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="top-nav" >
        <div class="logo">SnuggleReads</div>
        <ul class="navStuff">
            <li>
                <link><a href="" class="navList"></a><link>
            </li>
            <li>
                <link><a href="./" class="navList">Home</a></link>
            </li>
            <li>
                <link><a href="./books" class="navList">Book Catalog</a></link>
            </li>
            <li>
                <link><a href="./registration" class="navList">Register</a></link>
            </li>
            <li>
                <link><a href="./login" class="navList">Login</a></link>
            </li>
        </ul>
    </nav>
    <h1>forgot password</h1>
    <form action="" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <br>
        <input type="submit" value="submit">
    </form>
    <title></title>
</head>
<body>
   <p> 
    <% title.forEach(e => {%>


    <%= e.dataValues.book_name %>
    
    <% }); %> </p>


</body>
</html>