<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body{background-color: rgb(223, 241, 246);font-family: 'Courier New', Courier, monospace; display: flex; justify-content: center; height: 100vh; margin: 0;} form{text-align: center;} #forgotPassSubmit{position: relative; top: 20px; border-radius: 5px; background-color: white;} #containerDiv{align-content: center;} #email{ border-radius: 5px;} #message{position: relative; top: 20px;}#warning{width: fit-content; position: relative; top: 15px; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="containerDiv">
    <h1>Forgot Password? No Promblem</h1>
    <form action="" method="post">
        <label id="email" for="email"><strong>Email</strong></label>
        <input type="email" name="email" id="email">
        <br>
        <input id="forgotPassSubmit" type="submit" value="submit">
    </form>
    <p id="message"><strong>Enter the email you signed up with and we will send you a password reset link</strong></p>
    <div id="warning" class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <strong>If you do not see the password reset email make sure to check the spam folder!!!</strong>
      </div>
</head>
<body>



</body>
</html>