<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snuggle Reads</title>
    <link href="homestyle.css" rel="stylesheet">
</head>
<body>
    <h1>Welcome To Snuggle Reads</h1>

        

    <div id="top-container">
        <div id="inner-topContainer-carousel">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      
      <button id="browseButton">BROWSE</button>

      <h3>Our Vision/How to Use</h3>
      <p>h3 info</p>
    <div id="email-box">
        <form action="submit">let use send you emails<button></button></form>
        <img src="" alt="">
    </div>
    <div id="footer">
        <footer></footer>
    </div>
</body>
</html>