<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/homestyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snuggle Reads</title>
  <link href="homestyle.css" rel="stylesheet">
</head>

<body>
 <div class="navbar1">
    <p><a href="default.asp">Get your first book with code SNUGGLEBUDS at checkout.  Join today.</a></p>
  </div>
  <div class="navbar2">
    <a id="snuggle-reads" href="default.asp">SnuggleReads</a>
    

      <a class="navlinks" aria-current="page" href="#">Our Plans</a>
    
      <a class="navlinks" href="#">My Account</a>
    

    
    

                  <button><a href="/account">My Account</a></button>


        
    
      <a class="navlinks" href="#">Sign-In</a>
    

    
      <a class="navlinks" href="#">Register</a>
    
  </div>
  <div class="everything-container">

      <!-- <div id = "container5">
                <h3>Our Vision/How to Use</h3>
                <p>h3 info</p>
              <div id="email-box">
                  <form action="submit">let use send you emails<button></button></form>
                  <img src="" alt="">
              </div> -->
    </div>
    <div id="navcontainer5">
      <div class="largeimagecontainer">
      
      </div>
    </div>
<hr class="hr-tag">
    <div id="navcontainer6">
      <div class="largeimagecontainerwhite">
        <img src="/assets/photo2.jpg" alt="" class="homelargeimageportrait">
      </div>
    </div>
    <div id="footer">
      <footer>This is footer</footer>
    </div>
  </div>
</body>

</html>