<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/homestyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snuggle Reads</title>
  <link href="homestyle.css" rel="stylesheet">
</head>

<body>
  <div class="navbar1">
    <p><a href="default.asp">Get your first book with code SNUGGLEBUDS at checkout. Join today.</a></p>
  </div>
  <div class="navbar2">
    <a id="snuggle-reads" href="default.asp">SnuggleReads</a>

      <a class="navlinks" aria-current="page" href="#">Our Plans</a>
    
      <a class="navlinks" href="/account">My Account</a>
    

    <a class="navlinks" aria-current="page" href="#">Our Plans</a>

    <a class="navlinks" href="#">My Account</a>


    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>


    <div id="top-container">
      <div id="inner-topContainer-carousel">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <button id="browseButton">BROWSE</button>


<<<<<<< HEAD

    <button><a href="/account">My Account</a></button>




    <a class="navlinks" href="#">Sign-In</a>



    <a class="navlinks" href="#">Register</a>

=======
        
    

      
      
    
      <a class="navlinks" href="/login">Sign-In</a>

      
    

    
      <a class="navlinks" href="/registration">Register</a>
    
>>>>>>> main
  </div>
  <div class="everything-container">

    <!-- <div id = "container5">
                <h3>Our Vision/How to Use</h3>
                <p>h3 info</p>
              <div id="email-box">
                  <form action="submit">let use send you emails<button></button></form>
                  <img src="" alt="">
              </div> -->
  </div>
  <div id="navcontainer5">
    <div class="largeimagecontainer">

    </div>
  </div>
  <hr class="hr-tag">
  <div class="container6">
    <div class="largeimagecontainerwhite">
      <img src="/assets/photo2.jpg" alt="" class="homelargeimageportrait">
    </div>

    <div class="stepcontainer">
      <p class="steptitle">Step 1</p>
      <p class="booktitle">Pick your book</p>
      <p class="description">We find the best new reads—with an emphasis on early releases, fresh perspectives, and debut authors.</p>
    
    </div>

  </div>
  <div class="container6">
    <div class="largeimagecontainerwhite">
      <img src="/assets/photo3.jpg" alt="" class="homelargeimageportrait">
    </div>
    <div class="stepcontainer2">
      <p class="steptitle">Step 2</p>
      <p class="booktitle">Get your box.</p>
      <p class="description">Keep your eye out for that bright blue box. Trust us, you're going to want to cancel all your plans.</p>
    </div>
  </div>
  
  <div class="container6">
    <div class="largeimagecontainerwhite">
      <img src="/assets/photo4.jpg" alt="" class="homelargeimageportrait">
    </div>

    <div class="stepcontainer">
      <p class="steptitle">Step 3</p>
      <p class="booktitle">Pick your book Skip whenever.</p>
      <p class="description"> Behind on your reading list? Skip any month, no questions asked.</p>
    
    </div>

  </div>
  <div id="footer">
    <footer>This is footer</footer>
  </div>
  </div>
</body>

</html>