<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snuggle Reads</title>
</head>
<body>
    <h1>Snuggle Reads</h1>
    <div id="navbar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img id="navbar-img" alt="">Navbar(you can add an image here instead if you want)</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    <div id="top-container">
        <div>
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        <button id="get-started"></button>
        </div>
        <img id="top-container-img" src="" alt="">
        <button id="get-started"></button>
        <h3>Our Vision/How to Use</h3>
        <p>h3 info</p>
    </div>
    <div id="email-box">
        <form action="submit">let use send you emails<button></button></form>
        <img src="" alt="">
    </div>
    <div id="footer">
        <footer></footer>
    </div>
</body>
</html>