<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/homestyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snuggle Reads</title>
  <link href="homestyle.css" rel="stylesheet">
  <link href="carousel.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
  <div class="navbar1">
    <p><a id="SNUGGLEBUDS" href="default.asp">Get your first book with code SNUGGLEBUDS at checkout. Join today for
        free.</a></p>
  </div>
  <div class="navbar2">
    <a id="snuggle-reads" href="default.asp">SnuggleReads</a>

    
    
      
    

    
        

    
      
    
    
    

    
      



        
    

      
      
      <a class="navlinks" href="/books">Explore</a>
    
      <a class="navlinks" href="/login">Sign-In</a>
      

      
    

    
      <a class="navlinks" href="/registration">Register</a>

    
  </div>

  <div class="everything-container">

    <!-- <div id = "container5">
                <h3>How to Use</h3>
                <p>h3 info</p>
              <div id="email-box">
                  <form action="submit">let use send you emails<button></button></form>
                  <img src="" alt="">
              </div> -->
  </div>

  <div id="navcontainer5">
    <div class="largeimagecontainer">

    </div>
  </div>
  <hr class="hr-tag">
  <div class="container6">
    <div class="largeimagecontainerwhite">
      <img src="/assets/photo2.jpg" alt="" class="homelargeimageportrait2">

    </div>


    <div class="stepcontainer">
      <h3>How It Works</h3>
      <p class="steptitle">Step 1</p>
      <p class="booktitle">Pick your book</p>
      <p class="description">We find the best new reads—with an emphasis on early releases, fresh perspectives, and
        debut authors.</p>

    </div>

  </div>
  <div class="container6">

    <div class="stepcontainer2" style="padding-left: 150px;">
      <p class="steptitle">Step 2</p>
      <p class="booktitle">Get your box.</p>
      <p class="description">Keep your eye out for that bright blue box. Trust us, you're going to want to cancel all
        your plans.</p>
    </div>
    <div class="largeimagecontainerwhite2">
      <img src="/assets/photo3.jpg" alt="" class="homelargeimageportrait">
    </div>
  </div>

  <div class="container6">
    <div class="largeimagecontainerwhite">
      <img src="/assets/photo4.jpg" alt="" class="homelargeimageportrait">
    </div>

    <div class="stepcontainer">
      <p class="steptitle">Step 3</p>
      <p class="booktitle">Skip whenever.</p>
      <p class="description"> Behind on your reading list? Skip any month, no questions asked.</p>

    </div>

  </div>
  <div id="footer">

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">

            <ul>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Pick a Book</a></li>
              <li><a href="#">Get in Touch</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">&copy; 2023 SnugggleReads. All Rights Reserved.</a></li>
            </ul>
          </div>


          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

</body>

</html>