<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snuggle Reads</title>
    <link href="account.css" rel="stylesheet">
</head>
<body>
    <h1 id = "header">SnuggleReads</h1>
    <h2 id = "header2">My Account</h2>
    
    <div class="content-container">
        <div id="text-container">
          <div id="p1">
            <a href="/update">Update Information</a>


              
              <p>Book History:</p>


              <a href="/home">Back to Home</a>
              
          </div>
        </div>
        <div class="bigphoto">
          <div class="bookshelf">
            <img src="https://images.unsplash.com/photo-1462392627162-2baa2b3518a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2103&q=80" alt="" class="bookshelf">
          </div>
          <button id="browseButton">BROWSE</button>
        </div>
      </div>
      

    
        

      

      
    

</body>
</html>