<form action="/register" method="post">
    <div>
        <legend> Registration </legend>
            <% { %> 
                firstname: <input type="text" name="firstname" value="" /><br><br>
                lastname:  <input type="text" name="lastname" value="" /><br><br>
                email:     <input type="email" name="email" value="" /><br><br>
                username:  <input type="text" name="username" value="" /><br><br>
                password:  <input type="password" name="password" value="" /><br><br>
            <% } %>
    </div>
    <input type="submit" value="Registration"/><br><br>
</form>