    <!DOCTYPE html>
    <html lang="en">
    <head>
        
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snuggle Reads</title>
        <link href="registration.css" rel="stylesheet">
    </head>
    <body>
        <h1 id = "header">SnuggleReads</h1>
        <h2 id = "header2">Registration</h2>
        
        <div class="content-container">
            <div id="text-container">
              <div id="p1">
                <p>Create Account</p>
    
                  
    
                <form class="container" action="/registration" method="post">
                    <div class="form">
                        <legend></legend>
                        <% if (typeof successMessage !=='undefined' ) { %>
                            <p style="color: green;">
                                <%= successMessage %>
                            </p>
                        <% } %>
                        <!-- error message -->
                        <% if (typeof errorMessage !=='undefined' ) { %>
                            <p style="color: red;">
                                <%= errorMessage %>
                            </p>
                        <% } %>
                        <% { %>
                
                            <div class="firstName">
                            First Name <input type="text" placeholder="First name" name="firstName"/><br><br></div>
                            <div class="firstName">
                            Last Name <input type="text" placeholder="Last name" name="lastName"/><br><br></div>
                            <div class="email">
                            Email <input type="email" name="email" value="" /><br><br></div>
                            <div class="password">
                            Password <input type="password" placeholder="at least 8 characters" minlength="8" maxlength="25" name="password" value="" /><br><br><p class="passConstraint">Passwords must be between 8 and 25 characters. </p></div>
                            <div class="password2">
                            Re-enter password <input type="password" name = "repassword"  minlength="8" maxlength="25" value = "" /> <br><br></div>
                        <% } %>
                        
                        <style>
                            /* Style the button */
                            #updateButton {
                              background-color: #9A3B3B; 
                              font-family: 'Courier New', Courier, monospace;
                              font-size: large;
                              color: white; 
                              padding: 10px 20px; 
                              border: none; 
                              cursor: pointer; 
                              border-radius: 10px;
                            }
                          
                            /* Style the button on hover */
                            #updateButton:hover {
                              background-color: #C08261;
                            }
                          </style>
                          
                          <button id="updateButton" onclick="signIn()">Create Your SnuggleReads Account</button><br><br>
                          
                        
                        
                        <div class="line"></div>
                        <p class="account">Already have an account?</p> 
                        <style>
                            /* Style the button */
                            #updateButton {
                              background-color: #9A3B3B; 
                              font-family: 'Courier New', Courier, monospace;
                              font-size: large;
                              color: white; 
                              padding: 10px 20px; 
                              border: none; 
                              cursor: pointer; 
                              border-radius: 10px;
                              text-decoration: none; /* Remove default underline for links */
                              display: inline-block; /* Make it a block-level element to set width and height */
                              text-align: center; /* Center the text horizontally */
                              line-height: 2.5; /* Center the text vertically */
                            }
                          
                            /* Style the button on hover */
                            #updateButton:hover {
                              background-color: #C08261;
                            }
                          </style>
                          
                          <a id="updateButton" href="./login">Sign In</a>
                        
                    </div>
                
                    
                    </form>

                    <a href="/">Back to Home</a>
                
                
    
                
                
                
        </div>