<!DOCTYPE html>
<html lang="en">
<head>
    <link href="reset-password.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: #F2ECBE; display: flex; justify-content: center; height: 100vh; margin: 0; font-family: 'Courier New', Courier, monospace;} form{text-align: center;} #resetPassBox{border-radius: 20px;} #password{border-radius: 5px} #forgotPassSubmit{border-radius: 5px; background-color: white; position: relative; top: 10px;} #warning{width: fit-content; position: relative; top: 15px; } #containerDiv{align-content: center;} #repassword{border-radius: 5px; position: relative; right: 37px;}
    </style>
</head>
<body>
    <div id="containerDiv">
    <h3><strong>Reset password for <p><%= email %></p> </strong></h3>
    <div id="resetPassBox">
        <form action="" method="post" >
            <div id="password">
            <label for="password"><strong>Password</strong></label>
            <input type="password" name="password" id="password">
            </div>
        <br>
        <label id="repassword" for="repassword"><strong>Confirm Password</strong></label>
        <input type="password" name="repassword" id="repassword">
        <br>
        <input id="forgotPassSubmit" type="submit" value="Reset Password">
        </form>
        <div id="warning" class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
</div>
<% if (typeof errorMessage === 'undefined') { %>
    <% '' %>
    
<% } else { %>
    <% errorMessage  %>
    <p><%= errorMessage %></p>
<% } %>

<!-- <% if (typeof errorMessage !== 'undefined') { %>
    <!-- Render an error message when errorMessage is defined -->
    <!-- <p>Error: <%= errorMessage %></p>
<% } %> --> -->
    </div>
</div>
</body>
</html>