<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="reset-password.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: rgb(223, 241, 246);font-family: 'Courier New', Courier, monospace;} #resetPassBox{border-radius: 20px;} #password{position: relative; left: 38px; border-radius: 5px;} #forgotPassSubmit{position: relative; top: 20px; left: 190px; border-radius: 5px; background-color: white;} #warning{position: relative; top: 29px; width: fit-content; right: 100px;} #containerDiv{align-content: center; position: relative; left: 170px;} #repassword{border-radius: 5px; }
    </style>
</head>
<body>
    <div id="containerDiv">
    <h3>Reset password for <%= email %></h3>
    <div id="resetPassBox">
        <form action="" method="post" >
            <div id="password">
            <label for="password"><strong>Password</strong></label>
            <input type="password" name="password" id="password">
            </div>
        <br>
        <label id="repassword" for="repassword"><strong>Confirm Password</strong></label>
        <input type="password" name="repassword" id="repassword">
        <br>
        <input id="forgotPassSubmit" type="submit" value="Reset Password">
        </form>
        <div id="warning" class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            <strong>If you do not see the password reset email make sure to check the spam folder!!!</strong>
          </div>
    </div>
</div>
</body>
</html>