/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    margin: 2%;
    padding: 1.5%;
    background-color: transparent;
    width: 20%;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  img{
    height: 100%;
    width: 100%;
    padding: 2% 0% 2% 0%;
  }
  #flip-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F2ECBE;
    width: 100%;
  }
  #add-to-account-btn{
    padding-top: 4%;
  }
  #add-to-account-btn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #add-to-account-btn:hover {background-color: #3e8e41}
  
  #add-to-account-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
   
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }

  nav{
    background-color: #E2C799;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 2;
}
    .logo{
        padding: 22px 20;
        height: 80px;
        float: left;
        font-size: 50px;
        color: black;
        font: bold;
        font-family: 'Courier New', Courier, monospace;
        
    }
     
   
    

    nav ul{
        
        list-style: none;
        float: right;
        margin: 0px;
        margin-right: 10%;
        padding: 0px;
       display: flex;
    }

     .navList{
        
        line-height: 80px;
        color: black;
        padding: 12px 30px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
    }

  
    
    .top-nav ul li:hover::after{
width: 100%;
background: #ffffff;
    }

    .navList:hover{
        color: white
    }
  /* Mobile devices (portrait) */
@media only screen and (max-width: 767px) {
  /* Your mobile-specific CSS here */
}

/* Tablet landscape and larger devices */
@media only screen and (min-width: 768px) {
  /* Your tablet landscape and larger specific CSS here */
}

/* Tablet portrait and larger devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your tablet portrait and larger specific CSS here */
}

/* Desktop devices */
@media only screen and (min-width: 1024px) {
  /* Your desktop-specific CSS here */
}

/* High-resolution (Retina) displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi) {
  /* Your high-resolution display specific CSS here */
}

/* Custom media query for screens between 600px and 900px wide */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  
}
