.navbar-expand-lg bg-body-tertiary{
    background-color: brown;
}

#top-container{
    padding: 15px;
    margin: 10px;
    background-image: url(bluePic.jpg);
    height: 400px;
    
}
#inner-topContainer-carousel{
    background-color: white;
    height: 300px;
    position: relative;
    top: 30px;
    
}